@import 'bootstrap/scss/bootstrap';

$warning: #ffb100;

html {
  font-size: 16px;
}

main {
  min-height: 100vh;
}

$theme-colors: (
  'warning': $warning,
);

@keyframes spin360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin-infinite {
  animation: spin360 1s linear infinite;
}
